/* Reset css */
*{
padding: 0;
margin: 0;
box-sizing: border-box;
list-style-type: none;
}

html{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #0f0f0f;
  color: white;
  font-weight: 100;
}
/* Reset css */

/* Language Btn */
.languageBtnContainer{
display: flex;
gap: 1em;
position: absolute;
top: 1em;
right: 1em;
}
.languageBtn{
background: none;
border: none;
color: white;
}
/* Language Btn */



/* Sidebar */
.sideContainer{
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
background-color: #d9d9d9;
width: 70px;
position: fixed;
height: 100vh;
z-index: 1;
}
.bio, .home, .projects{
border-bottom:2px solid #d9d9d9;
}
.sidebarBio{
background: url(./components/images/bio.png);
width: 64px;
height: 64px;
cursor: pointer;

}
.sidebarHome{
background: url(./components/images/home.png);
width: 64px;
height: 64px;
cursor: pointer;

}
.sidebarProjects{
background: url(./components/images/projects.png);
width: 64px;
height: 64px;
cursor: pointer;

}

/* Sidebar */

/* Body Container */

.bodyContainer{
  width: 100%;
  display: flex;
}

/* Body Container */

/* Main Container */

.mainContainer{
  width: 100%;
}

/* Main Container */

/* Home Container */

.homeContainer{
  display: flex;
  width: 100%;
height: 100vh;
justify-content: center;
align-items: center;
}
.homeAvatar{
  background: url(./components/images/avatar.jpg);
  background-position:center;
  background-size: cover;
  width: 256px;
  height: 256px;
  border-radius: 50%;
}

/* Home Container */

/* Bio Container */
.icons{
  margin-top: 1em;
  display: grid;
grid-template-columns: 64px 64px 64px 64px 64px 64px;
gap: 1em;
}
.icon-wrapper {
  position: relative;
  width: 80px;
  height: 80px;
  cursor: pointer;
}

.icon-wrapper i {
  font-size: 64px;
  transition: color 0.3s;
}
.icon-wrapper a{
  text-decoration: none;
  color: white;
  display: block;
  height: 100%;
}
.icon-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  transition: opacity 0.3s;
  z-index: -1;
}

.icon-wrapper:hover i {
  color: rgba(88, 88, 88, 0.3);
}

.icon-wrapper:hover .icon-text {
  opacity: 1;
}
.bioContainer{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.bioContainer h1{
  font-size: 48px;
  font-weight: 100;
}
.sectionBio{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.sectionBio p{
  width: 40%;
  font-size: 32px;
}
.sectionBio ul li div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:1em;
}
.sectionBio ul li div p{
  margin-bottom: 1em;
}
.bioInfoSection{
  gap: 1em;
  margin-top: 8em;
  margin-bottom: 12em;
}
.bioInfoSection button{
  width: 40%;
  font-size: 24px;
  cursor: pointer;
  font-weight: 100;
  background: #0f0f0f;
  border: 1px solid #d9d9d9;
  color: white;
  padding: 0.7em;
  transition:0.3s;
}
.bioInfoSection button:hover{
  color: #0f0f0f;
  background: white;
  transition:0.3s;
}
.bioEducationSection{
}
/* Bio Container */

/* Projects Container */

.projectsContainer{
display: flex;
flex-direction: column;
justify-content: space-between;
height: 100vh;
width: 100%;
}
.projectsBar{
  display: flex;
  justify-content: center;
  gap: 0.7em;
  background-color: #d9d9d9;
  padding: 0.6em;
  color: #0f0f0f;
}
.projectsBar p{
  cursor: pointer;
  transition: 0.3s;
  padding: 0.3em;
}

.projectContent{
  display: flex;
  justify-content: center;
  align-items: center;
}
.project-card {
  align-self: center;
  background-color: #d9d9d9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px;
  text-align: center;
  color: #0f0f0f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateX(-2000px);
  animation: projectCard 1s both;
}

@keyframes projectCard {
  0%{}
  100%{transform: translateX(0);}
}
.product-languages{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50%;
margin-top: 1em;
}
.project-card h1 {
  font-size: 32px;
  margin-bottom: 10px;
  font-weight: 100;
}

.project-image {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 200px;
  margin-bottom: 10px;
}
.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wide-image {
  width: 100%;
  height: auto;
}

.narrow-images {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.narrow-images div{
  width: calc(50%); /* Un pequeño margen entre las imágenes */
}
.project-card p {
  margin-top: 1em;
  font-size: 24px;
  width: 40%;
}
.usersImage{
  background: url(./components/images/projectUsers.png);
  width: 500px;
  height: 370px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-top-right-radius:1em;
  border-top-left-radius:1em;
}
.usersImage2{
  background: url(./components/images/projectUsers2.png);
  height: 256px;
  background-position: center;
  background-size: cover;
  border-bottom-left-radius:1em;
}
.usersImage3{
  background: url(./components/images/projectUsers3.png);
  height: 256px;
  background-position: center;
  background-size: cover;
  border-bottom-right-radius:1em;
}
.maybellineImage{
  background: url(./components/images/projectMaybelline.png);
  width: 256px;
  height: 256px;
  background-position: center;
  background-size: cover;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;

}
.maybellineImage2{
  background: url(./components/images/projectMaybelline2.png);
  width: 256px;
  height: 256px;
  background-position: center;
  background-size: cover;
  border-bottom-left-radius: 1em;
}
.maybellineImage3{
  background: url(./components/images/projectMaybelline3.png);
  width: 256px;
  height: 256px;
  background-position: center;
  background-size: cover;
  border-bottom-right-radius: 1em;
}
.sliderImage{
background: url(./components/images/projectSlider.png);
width: 256px;
height: 256px;
background-position: center;
background-size: cover;
}
.donhorneroImage{
background: url(./components/images/projectPizzeria.png);
width: 512px;
height: 512px;
background-size: cover;
border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}
.donhorneroImage2{
  background: url(./components/images/projectPizzeria2.png);
  width: 256px;
height: 256px;
background-size: cover;
background-position: center;
border-bottom-left-radius: 1em;

}
.donhorneroImage3{
  background: url(./components/images/projectPizzeria3.png);
  width: 256px;
height: 256px;
background-size: cover;
background-position: center;
border-bottom-right-radius: 1em;

}
.selectedProject{
background-color: #0f0f0f;
color: #d9d9d9;
transition: 0.3s;
text-align: center;
}
.projectLinks{
display: flex;
gap: 10em;
margin-top: 1em;
}
.projectLink{

  cursor: pointer;
}
.projectBarContainer > .selectedProject:first-child{
  border-bottom-left-radius: 1em !important;
  border-top-left-radius: 1em !important;
}
.projectBarContainer > .selectedProject:last-child{
  border-bottom-right-radius: 1em !important;
  border-top-right-radius: 1em !important;
}
.projectBarContainer{
  display: flex;
  background-color: rgb(193, 193, 193);
  border-radius: 1em;
  flex-wrap: wrap;
  justify-content: center;
}
.repo{
  background: url(./components/images/repo.png);
  background-size: cover;
  background-position: center;
  width: 32px;
  height: 32px;
}
.ghub{
  background: url(./components/images/ghub.png);
  background-size: cover;
  background-position: center;
  width: 32px;
  height: 32px;
}
/* Projects Container */





/* Media 768 */

@media (max-width:768px) {
  /* Body Container 768 */
  .bodyContainer{
    align-items: end;
    flex-direction: column-reverse;
  }
  /* Body Container 768 */

  /* Bio Container 768 */
  .icons{
    display: grid;
    grid-template-columns: 64px 64px 64px 64px;
    gap: 1em;
  }
.bioContainer{
  margin-bottom: 7em;
  }
  .bioContainer p{
    font-size: 22px;
  }
  .bioInfoSection{
    margin-top: 0;
  }
  .bioInfoSection p{
    width: 80%;
  }
  .bioInfoSection button{
    width: 80%;
  }
/* Bio Container 768 */ 

  /* Sidebar 768 */
 .sideContainer{
  min-width: 100%;
  height:70px;
  flex-direction: row;
  position:fixed;
bottom: 0;
}
 .sidebarBio{
  background-size: contain;
  width: 32px;
  height: 32px;
  }
  .sidebarHome{
    background-size: contain;
  width: 32px;
  height: 32px;
  }
  .sidebarProjects{
    background-size: contain;
  width: 32px;
  height: 32px;
  }
  .sidebarLink{
    padding: 1px;
    border-bottom: 1px solid #d9d9d9;
    border-radius: 50%;
  }
  .selectedLink{
    border-bottom: 1px solid black;
    border-radius: 50%;
      color: white;
  }
  /* Sidebar 768 */

/* Projects Container 768 */
.projectBarContainer p{
  width: 100%;
  text-align: center;
}
.projectBarContainer > .selectedProject:first-child{
  border-top-right-radius: 1em !important;
  border-top-left-radius: 1em !important;
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.projectBarContainer > .selectedProject:last-child{
  border-bottom-right-radius: 1em !important;
  border-bottom-left-radius: 1em !important;
  border-top-right-radius: 0 !important;
  border-top-left-radius: 0 !important;
}
.projectsContainer{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.projectContent{
  height: auto;
}
.project-card{
  margin-bottom: 5em;
}
.project-card p {
  font-size: 16px;
  width: 100%;
}
/* Projects Container 768 */

}
@media (max-width:568px) {
.usersImage{
  width: 350px;
  height: 260px;
}
}
@media (max-height:568px) {
.sectionSkills{
  margin-top: 3em;
}
}